/* ---------- CSS RESET ---------- */

/* box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* prevent font-size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* remove default margin */
body, h1, h2, p {
  margin: 0;
}

/* core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* set line heights on heading & balance text-wrap
h1, h2 {
  line-height: 1.5; 
}
*/

/* responsive img */
img {
  width: 100%;
  display: block;
}

/* ---------- CSS VARIABLE ---------- */

:root {

  /* color system */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-darkBlue: hsl(234, 12%, 34%);
  --clr-grayishBlue: hsl(229, 6%, 66%);
  --clr-lightGray: hsl(0, 0%, 98%);

  /* typography */
  --ff-poppins: 'Poppins', sans-serif;
  --fs-body: .9375rem;
  
  --fsm-heading: 1.5rem;
  --fst-heading: 1.75rem;
  --fsd-heading: 1.75rem;
  
  --fsm-cardTitle: 1.2rem;
  --fst-cardTitle: 1.4rem;
  --fsd-cardTitle: 1.4rem;
 
  --fsm-cardText: .875rem;
  --fst-cardText: 1.4rem;
  --fsd-cardText: 1.4rem;
  
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
}

/* ---------- CHALLENGE STYLING ---------- */

body {
  font-family: var(--ff-poppins);
  font-size: var(--fs-body);
  text-align: center;
  background: var(--clr-lightGray);
  color: var(--clr-grayishBlue);
}

/* introduction section */
.introduction {
  width: 80%;
  max-width: 20rem;
  margin: 5rem auto;
}

.introduction__heading {
  font-size: var(--fsm-heading);
  font-weight: var(--fw-200);
  color: var(--clr-darkBlue);
  margin-bottom: 1.2rem;
}

.bold {
  font-weight: var(--fw-600);
}

/* card section */
.card-wrapper {
  margin-bottom: 5rem;
}

.card + .card {
  margin-top: 1.3rem;
}

.card {
  position: relative;
  overflow: hidden;
  text-align: left;
  width: 85%;
  max-width: 23rem;
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--clr-cyan);  
}

.card--team-builder::before {
  background: var(--clr-red);
}

.card--karma:before {
  background: var(--clr-orange);
}

.card--calculator::before {
  background: var(--clr-blue)
}

.card__title {
  font-size: var(--fsm-cardTitle);
  color: var(--clr-darkBlue);
  margin-bottom: .25rem;
}

.card__content {
  font-size: var(--fsm-cardText);
}

.icon {
  width: 3rem;
  margin-left: auto;
  margin-top: 3rem;
}

footer {
  margin-block: 2rem;
}

/* ******************************************* */
/* **********   RESTART FROM HERE   ********** */
/* ******************************************* */
@media (min-width: 768px) {

  .introduction {
    width: 100%;
    margin-block: 2rem;
  }

  .card-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template: /*50% 1fr 50%*/ repeat(4, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
        ". t  ."
        "l t  r"
        "l b  r"
        ". b  .";
  }

  .card--supervisor {
    grid-area: l;
  }

  .card--team-builder {
    grid-area: t;
  }

  .card--calculator {
    grid-area: r;
    /* justify-self: end; */
  }

  .card--karma {
    grid-area: b;
  }

  .card {
    width: 100%;

  }
}